rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ['admin','pastor'];
    }

    match /testimonySubmissions/{submissionId}/{fileName} {
      allow create: if request.resource.size < 100 * 1024 * 1024
        && request.resource.contentType.matches('video/.*|image/.*');
      allow read: if true;
      allow delete: if isAdmin();
    }

    match /church/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }


    match /media/audio/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /media/pdfs/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /media/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}